<!-- src/app/sara-admin/components/admin-layout/admin-layout.component.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<div class="admin-container">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="admin-content">
      <app-admin-header></app-admin-header>
      <div class="admin-main">
        <app-breadcrumb></app-breadcrumb>
        <main class="admin-page-content">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </div>